.container-fluid{
	margin: 0;
	padding: 0;
	text-align: center;
	
}

.navbar{
	border-radius: 0px;
	background-color: rgba(224, 15, 15, 0.8);
	text-align: center;
}

.navbar-brand{
  font-family: "Times", cursive, sans-serif;
  font-size: 50px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-left: 465px;

}


.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 55px;
  font-family: "Times", cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
  background-color: rgba(243, 240, 240, 0.9);
  color: rgba(17, 2, 2, 0.4);
  
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
  height: auto;
  border-radius: 10px;
	color: black;
	background-color: rgba(82, 60, 207, 0.2);
	font-family: "Times", cursive, sans-serif;
	padding: 20px;
}
.content-box p{
	text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.item-name{
	text-align: center;
  font-size: 30px;
  font-weight: bold;
}

	
