<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">

<head>
  <title>SHOPPING LIST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .emptyMessage {
      font-weight: bold;
      color: rgb(29, 15, 233);
      font-size: 1.2em;
    }

    li {
      margin-bottom: 7px;
      font-size: 1.2em;
    }

    li>button {
      margin-left: 6px;
    }

    button>span {
      color:rgb(128, 47, 0);
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>SHOPPING LIST</h1>
    <div class="row">
      <!-- To Buy List -->
      <div class="col-md-6" ng-controller="ToBuyController as toBuyList">
        <h2>BUY:</h2>
        <ul>
          <li ng-repeat="item in toBuyList.items">BUY {{item.quantity}} {{item.name}}
            <button class="btn btn-default" ng-click="toBuyList.buyItem($index)"><span
                class="glyphicon glyphicon-ok"></span> Buy</button>
          </li>
        </ul>
        <div ng-if="toBuyList.items.length == 0" class="emptyMessage">EVERYTHING HAS BEEN BOUGHT</div>
      </div>
      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller="AlreadyBoughtController as alreadyBoughtList">
        <h2>HAS BEEN BOUGHT ALREADY</h2>
        <ul>
          <li ng-repeat="item in alreadyBoughtList.items">BOUGHT {{item.quantity}} {{item.name}}</li>
        </ul>
        <div ng-if="alreadyBoughtList.items.length == 0" class="emptyMessage">NOTHING HAS BEEN BOUGHT YET</div>
      </div>
    </div>
  </div>
  <script src="./js/angular.min.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>